In [1]:
import pandas as pd

df = pd.read_csv('../data/firms_clean.csv')
df.head()

,Unnamed: 0,publication_type_group_id,publication_type_group_description,facetedSearchId,rowType,organisationName,organisationId,organisationLocation,town,country,profilePictureUrl,hasPaidProfile,personOrganisationId,personName
0,0,2,Global,7141,Firms,Allen & Overy LLP,23263768,Undefined,Undefined,Undefined,NaN,False,NaN,NaN
1,1,2,Global,7248,Firms,Nati Simchony & Co.,23249255,Undefined,Undefined,Undefined,NaN,False,NaN,NaN
2,2,7,Europe,12441,Firms,"1,5 Advokatfirma AS",23292859,Lillehammer,Lillehammer,Norway,NaN,False,NaN,NaN
3,3,2,Global,3991,Firms,12 Wentworth Selborne Chambers,22597588,Sydney,Sydney,Australia,NaN,False,NaN,NaN
4,4,8,Asia-Pacific,3991,Firms,12 Wentworth Selborne Chambers,22597588,Sydney,Sydney,Australia,NaN,False,NaN,NaN

In [2]:
len(df.index)

105226

In [3]:
unique_lawyers = df.drop_duplicates(subset=['personOrganisationId']).dropna(subset=['personOrganisationId'])
unique_lawyers.head()

,Unnamed: 0,publication_type_group_id,publication_type_group_description,facetedSearchId,rowType,organisationName,organisationId,organisationLocation,town,country,profilePictureUrl,hasPaidProfile,personOrganisationId,personName
14584,14584,8,Asia-Pacific,0,Lawyers,Clayton Utz,4413,NaN,Sydney,Australia,NaN,False,25815344.0,Tobin Meagher
14585,14585,77,GC Influencers,0,Lawyers,Austrian Airlines Group (AUA),12376,NaN,Vienna,Austria,NaN,False,25748122.0,Tamara Maria Christ
14586,14586,95,Brazil,0,Lawyers,Ana Frazão Advogados,23261592,NaN,Brasília - DF,Brazil,NaN,False,25936150.0,Ana Frazão
14587,14587,20,Canada,0,Lawyers,Meadows Law,22964601,NaN,St. Albert,Canada,NaN,False,25621960.0,Teresa Meadows
14588,14588,20,Canada,0,Lawyers,Borden Ladner Gervais LLP,3759,NaN,Toronto,Canada,https://media.chambers.com/individuals/3017404...,True,25582143.0,Graeme Hamilton

In [4]:
len(unique_lawyers.index)

69331

In [5]:
clean_table = unique_lawyers.drop(columns=['publication_type_group_id', 'publication_type_group_description'])
clean_table.head()

,Unnamed: 0,facetedSearchId,rowType,organisationName,organisationId,organisationLocation,town,country,profilePictureUrl,hasPaidProfile,personOrganisationId,personName
14584,14584,0,Lawyers,Clayton Utz,4413,NaN,Sydney,Australia,NaN,False,25815344.0,Tobin Meagher
14585,14585,0,Lawyers,Austrian Airlines Group (AUA),12376,NaN,Vienna,Austria,NaN,False,25748122.0,Tamara Maria Christ
14586,14586,0,Lawyers,Ana Frazão Advogados,23261592,NaN,Brasília - DF,Brazil,NaN,False,25936150.0,Ana Frazão
14587,14587,0,Lawyers,Meadows Law,22964601,NaN,St. Albert,Canada,NaN,False,25621960.0,Teresa Meadows
14588,14588,0,Lawyers,Borden Ladner Gervais LLP,3759,NaN,Toronto,Canada,https://media.chambers.com/individuals/3017404...,True,25582143.0,Graeme Hamilton

In [6]:
clean_table.rowType.value_counts()

Lawyers       63929
Barristers     5402
Name: rowType, dtype: int64

In [7]:
clean_table.to_csv('../data/people.csv') # A table for lawyers and barristers