In [1]:
import pandas as pd

df = pd.read_csv(r'../data/aug15-2022/firms_clean.csv')
df.head()

,Unnamed: 0,facetedSearchId,rowType,organisationName,organisationId,organisationLocation,town,country,profilePictureUrl,hasPaidProfile,publicationTypeGroups,personOrganisationId,personName
0,0,7160,Firms,Allen & Overy LLP,23263768,Undefined,Undefined,Undefined,NaN,False,"[{'id': 2, 'description': 'Global'}]",NaN,NaN
1,1,12247,Firms,Ceschini & Restignoli Law Office,23020437,Undefined,Undefined,Undefined,NaN,False,"[{'id': 21, 'description': 'High Net Worth'}]",NaN,NaN
2,2,6559,Firms,Collecting Cars Ltd,23296235,Undefined,Undefined,Undefined,NaN,False,"[{'id': 1, 'description': 'UK'}]",NaN,NaN
3,3,9758,Firms,"Tuft, Lach, Jerabek & O'Connell",23278729,Undefined,Undefined,Undefined,NaN,False,"[{'id': 21, 'description': 'High Net Worth'}]",NaN,NaN
4,4,5601,Firms,12 Wentworth Selborne Chambers,22597588,Sydney,Sydney,Australia,NaN,False,"[{'id': 2, 'description': 'Global'}, {'id': 8,...",NaN,NaN

In [2]:
len(df.index)

765468

In [3]:
unique_lawyers = df.drop_duplicates(subset=['personOrganisationId']).dropna(subset=['personOrganisationId'])
unique_lawyers.head()
df.rowType.value_counts()

Lawyers               615213
Firms                  83610
Barristers             50812
Advisor                 6897
Other Institutions      4169
Set                     3933
Law Firm Networks        834
Name: rowType, dtype: int64

In [4]:
len(unique_lawyers.index)

69700

In [5]:
# clean_table = unique_lawyers.drop(columns=['publication_type_group_id', 'publication_type_group_description'])
# clean_table.head()

In [6]:
unique_lawyers.rowType.value_counts()

Lawyers       64299
Barristers     5401
Name: rowType, dtype: int64

In [7]:
# unique_lawyers.to_csv('../data/aug15-2022/people.csv') # A table for lawyers and barristers