In [1]:
import pandas as pd

df = pd.read_csv ('../data/firms_clean.csv')
df.head()

,Unnamed: 0,publication_type_group_id,publication_type_group_description,facetedSearchId,rowType,organisationName,organisationId,organisationLocation,town,country,profilePictureUrl,hasPaidProfile,personOrganisationId,personName
0,0,2,Global,7141,Firms,Allen & Overy LLP,23263768,Undefined,Undefined,Undefined,NaN,False,NaN,NaN
1,1,2,Global,7248,Firms,Nati Simchony & Co.,23249255,Undefined,Undefined,Undefined,NaN,False,NaN,NaN
2,2,7,Europe,12441,Firms,"1,5 Advokatfirma AS",23292859,Lillehammer,Lillehammer,Norway,NaN,False,NaN,NaN
3,3,2,Global,3991,Firms,12 Wentworth Selborne Chambers,22597588,Sydney,Sydney,Australia,NaN,False,NaN,NaN
4,4,8,Asia-Pacific,3991,Firms,12 Wentworth Selborne Chambers,22597588,Sydney,Sydney,Australia,NaN,False,NaN,NaN

In [16]:
df.columns

Index(['Unnamed: 0', 'publication_type_group_id',
       'publication_type_group_description', 'facetedSearchId', 'rowType',
       'organisationName', 'organisationId', 'organisationLocation', 'town',
       'country', 'profilePictureUrl', 'hasPaidProfile',
       'personOrganisationId', 'personName'],
      dtype='object')

In [3]:
df.rowType.value_counts()

Lawyers               80716
Firms                 15682
Barristers             6994
Advisor                 710
Set                     581
Other Institutions      378
Law Firm Networks       165
Name: rowType, dtype: int64

In [4]:
df.organisationName.nunique()

13803

In [5]:
df.country.nunique()

208

In [6]:
df.personName.nunique()

68189

In [7]:
len(df)

105226

In [8]:
df.count(0)

Unnamed: 0                            105226
publication_type_group_id             105226
publication_type_group_description    105226
facetedSearchId                       105226
rowType                               105226
organisationName                      105226
organisationId                        105226
organisationLocation                   17516
town                                  105226
country                               105226
profilePictureUrl                      41645
hasPaidProfile                        105226
personOrganisationId                   87710
personName                             87710
dtype: int64

In [9]:
df.publication_type_group_description.value_counts()

Global                                 24805
USA                                    24064
Europe                                 14385
UK                                     11617
Asia-Pacific                            6393
UK Bar                                  5248
High Net Worth                          5001
Latin America                           4918
Canada                                  2471
Greater China Region                    2281
Brazil                                  1816
FinTech                                  979
GC Influencers                           661
Litigation Support                       368
Crisis & Risk Management                 106
Law Tech                                  68
Alternative Legal Service Providers       45
Name: publication_type_group_description, dtype: int64

In [10]:
df_global = df.query("publication_type_group_description == 'Global'")
df_europe = df.query("publication_type_group_description == 'Europe'")
df_uk = df.query("publication_type_group_description == 'UK'")
df_asia = df.query("publication_type_group_description == 'Asia-Pacific'")
df_uk_bar = df.query("publication_type_group_description == 'UK Bar'")
df_high_net_worth = df.query("publication_type_group_description == 'High Net Worth'")
df_latin_america = df.query("publication_type_group_description == 'Latin America'")
df_canada = df.query("publication_type_group_description == 'Canada'")
df_china = df.query("publication_type_group_description == 'Greater China Region'")
df_brazil = df.query("publication_type_group_description == 'Brazil'")
df_fintech = df.query("publication_type_group_description == 'FinTech'")
df_gc_influencers = df.query("publication_type_group_description == 'GC Influencers'")
df_litigation_support = df.query("publication_type_group_description == 'Litigation Support'")
df_crisis_risk = df.query("publication_type_group_description == 'Crisis & Risk Management'")
df_law_tech = df.query("publication_type_group_description == 'Law Tech'")
df_alternative = df.query("publication_type_group_description == 'Alternative Legal Service Providers'")

In [11]:
df.loc[df['personOrganisationId'] == 338408]

,Unnamed: 0,publication_type_group_id,publication_type_group_description,facetedSearchId,rowType,organisationName,organisationId,organisationLocation,town,country,profilePictureUrl,hasPaidProfile,personOrganisationId,personName
19439,19439,2,Global,0,Lawyers,Ropes & Gray LLP,3650,NaN,Hong Kong,China,https://media.chambers.com/individuals/3071712...,True,338408.0,Andrew J Dale
19440,19440,116,Greater China Region,0,Lawyers,Ropes & Gray LLP,3650,NaN,Hong Kong,China,https://media.chambers.com/individuals/3071712...,True,338408.0,Andrew J Dale

In [12]:
# Create three data frames, one for lawyers, one for firms, one for publications

In [13]:
# Run some checks to verify the data is good

In [14]:
# Run some useful analyses on the data

In [15]:
# output the cleaned data into a database that I then connect to Mode Analytics? Hmm...