# Get the uncleaned source data

In [45]:
import pandas as pd

df = pd.read_csv (r'firms - very big file.csv')
df.head()

,Unnamed: 0,facetedSearchId,rowType,organisationName,organisationId,organisationLocation,town,country,profilePictureUrl,hasPaidProfile,publicationTypeGroups,personOrganisationId,personName
0,0,7141,Firms,Allen & Overy LLP,23263768,Undefined,Undefined,Undefined,NaN,False,"[{'id': 2, 'description': 'Global'}]",NaN,NaN
1,1,7248,Firms,Nati Simchony & Co.,23249255,Undefined,Undefined,Undefined,NaN,False,"[{'id': 2, 'description': 'Global'}]",NaN,NaN
2,2,12441,Firms,"1,5 Advokatfirma AS",23292859,Lillehammer,Lillehammer,Norway,NaN,False,"[{'id': 7, 'description': 'Europe'}]",NaN,NaN
3,3,3991,Firms,12 Wentworth Selborne Chambers,22597588,Sydney,Sydney,Australia,NaN,False,"[{'id': 2, 'description': 'Global'}, {'id': 8,...",NaN,NaN
4,4,4806,Firms,35 West Chambers,22914348,Brisbane,Brisbane,Australia,NaN,False,"[{'id': 2, 'description': 'Global'}, {'id': 8,...",NaN,NaN

In [50]:
df.columns

Index(['Unnamed: 0', 'facetedSearchId', 'rowType', 'organisationName',
       'organisationId', 'organisationLocation', 'town', 'country',
       'profilePictureUrl', 'hasPaidProfile', 'publicationTypeGroups',
       'personOrganisationId', 'personName'],
      dtype='object')

In [51]:
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head()

,facetedSearchId,rowType,organisationName,organisationId,organisationLocation,town,country,profilePictureUrl,hasPaidProfile,publicationTypeGroups,personOrganisationId,personName
0,7141,Firms,Allen & Overy LLP,23263768,Undefined,Undefined,Undefined,NaN,False,"[{'id': 2, 'description': 'Global'}]",NaN,NaN
1,7248,Firms,Nati Simchony & Co.,23249255,Undefined,Undefined,Undefined,NaN,False,"[{'id': 2, 'description': 'Global'}]",NaN,NaN
2,12441,Firms,"1,5 Advokatfirma AS",23292859,Lillehammer,Lillehammer,Norway,NaN,False,"[{'id': 7, 'description': 'Europe'}]",NaN,NaN
3,3991,Firms,12 Wentworth Selborne Chambers,22597588,Sydney,Sydney,Australia,NaN,False,"[{'id': 2, 'description': 'Global'}, {'id': 8,...",NaN,NaN
4,4806,Firms,35 West Chambers,22914348,Brisbane,Brisbane,Australia,NaN,False,"[{'id': 2, 'description': 'Global'}, {'id': 8,...",NaN,NaN

In [38]:
df.rowType.value_counts()

Lawyers               773442
Firms                 117197
Barristers             65622
Advisor                 7617
Set                     6398
Other Institutions      4050
Law Firm Networks       1575
Name: rowType, dtype: int64

In [23]:
df.organisationName.nunique()

13803

In [25]:
df.country.nunique()

208

In [27]:
df.personName.nunique()

68189

In [52]:
len(df)

760947

In [54]:
df.count(0)

facetedSearchId          760947
rowType                  760947
organisationName         760947
organisationId           760947
organisationLocation      98628
town                     760947
country                  760947
profilePictureUrl        283177
hasPaidProfile           760947
publicationTypeGroups    760947
personOrganisationId     662319
personName               662319
dtype: int64

In [56]:
df.drop_duplicates(inplace=True)

In [57]:
len(df)

81721

In [ ]:
# Create three data frames, one for lawyers, one for firms, one for publications

In [ ]:
# Run some checks to verify the data is good

In [1]:
# Run some useful analyses on the data

In [2]:
# output the cleaned data into a database that I then connect to Mode Analytics? Hmm...